manage-board/node_modules
static
.idea
manage-board/.idea
config.properties
.DS_Store
.vscode
.cursor
qq-krbot
log.txt
build_and_push.sh
.dockerignore
supervisord.conf
Dockerfile
docker-compose.yml
run_container.sh